/* For width smaller than 400px: */

.pull-right {
  display:block;
  margin: auto;
}

/* For width 400px and larger: */
@media only screen and (min-width: 400px) {
    .pull-right {
        float: right;
        max-width: 30%;
        height: auto;
        padding: 15px;
        padding-top: 3px;
        padding-right: 0px;
    }
}
@media only screen and (min-width: 400px) {
    .pos-center {
        max-width: 90%;
        height: auto;
        padding: 15px;
    }
}
ul li {
  padding-bottom: 5px;
}

.centered_text {
  text-align: center
}

$background-color: #ffffff;
