/* For width smaller than 400px: */

.pull-right {
  display:block;
  margin: auto;
}

/* for formatting the pubs table */


.pubs {
  width: 100%; /* Set the width of the table */
  border-spacing: 0 10px; /* The first value (0) is the horizontal spacing and the second value (10px) is the vertical spacing */
  margin-bottom: 40px; /* Add margin to the top and bottom of the table */
}

.pubs th, .pubs td {
  border: none;
  padding: 0px; 
  background-color: transparent !important;
}

/* For width 400px and larger: */
@media only screen and (min-width: 400px) {
    .pull-right {
        float: right;
        max-width: 30%;
        height: auto;
        padding: 15px;
        padding-top: 3px;
        padding-right: 0px;
    }
}
@media only screen and (min-width: 400px) {
    .pos-center {
        max-width: 90%;
        height: auto;
        padding: 15px;
    }
}
ul li {
  padding-bottom: 5px;
}

.centered_text {
  text-align: center
}

$background-color: #ffffff;
$brand-color:      #ffffff;


/* for gallery */
.image-gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
  justify-content: center;
  padding: 4px;
}

.box {
  flex-basis: 25%;
  width: 100%;
  padding: 10px;
  margin: 2px;
}

.img-gallery {
	width: 100%;
	height: 200px;
	object-fit: cover;
	transform: scale(1);
	transition: all 0.3s ease-in-out;

	&:hover {
		transform: scale(1.05);
	}
}